<!--<div id="myDiv" style="background-color: red; width: 500px; height: 400px; z-index: 9999"></div>-->


<div class="container" ng-show="options.visible">
    <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
        <div class="col-xs-12 col-md-12">
            <!--id="myDiv"-->
            <div class="panel panel-default" id="myDiv">

                <div class="panel-heading top-bar" style="color: #ecf0f1; background-color: #2c3e50">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;{{options.title}}
                        </h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim" ng-click="minimize()"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1" ng-click="close()"></span></a>
                    </div>
                </div>

                <div bs-active-pane="options.selected" bs-tabs>
                    <div ng-repeat="chat in chats" title="{{ chat.title }}" bs-pane>

                        <div class="panel-body msg_container_base">
                            <div data-ng-repeat="msg in chat.messages">
                                <div class="row msg_container" ng-class="{base_sent: msg.sent, base_receive: !msg.sent}">
                                    <div class="col-md-2 col-xs-2 avatar" ng-show="!msg.sent">
                                        <img src="{{msg.photo}}" class="img-responsive">
                                    </div>
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages" ng-class="{msg_sent: msg.sent, msg_receive: !msg.sent}">
                                            <p>
                                                {{msg.text}}
                                            </p>
                                            <time datetime="2009-11-13T20:00">{{msg.userName}} • {{msg.timeLeft}}</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar" ng-show="msg.sent">
                                        <img src="{{msg.photo}}" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" ng-model="message" class="form-control input-sm chat_input" placeholder="Введите сообщение..." ng-keyup="keyPress($event.keyCode)"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="send()">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
