<!--<div style="height: 224px"> Uncomment to fix issue with cutting off a tooltip-->
<div>
    <div ng-show="routeInfo.config.showUserPhoto">
        <img width='72' src={{routeInfo.photoPath}} />
        <br />
    </div>
    <table style="font-size: 10pt">
        <tbody>
            <tr>
                <td class="route-item-label">От</td>
                <td>{{routeInfo.startName}}</td>
            </tr>
            <tr>
                <td class="route-item-label">До</td>
                <td>{{routeInfo.endName}}</td>
            </tr>
            <tr>
                <td class="route-item-label">Отправление</td>
                <td>{{routeInfo.startTime}}</td>
            </tr>
        <tr>
            <td class="route-item-label">Действителен до</td>
            <td>{{routeInfo.dueDate}}</td>
        </tr>
            <tr ng-show="routeInfo.recurrencyInfo">
                <td>
                    <span class="glyphicon glyphicon-repeat" style="margin-right: 4px"></span> Повторять
                </td>
                <td>{{routeInfo.recurrencyInfo}}</td>
                <!--<td>пн, вт, ср, чт, пт, сб, вс</td>-->
            </tr>
            <tr>
                <td class="route-item-label">Расстояние</td>
                <td>{{routeInfo.distance}}</td>
            </tr>
            <tr>
                <td class="route-item-label">Время</td>
                <td>{{routeInfo.duration}}</td>
            </tr>
            <tr>
                <td class="route-item-label">Водитель</td>
                <td>{{routeInfo.driver}}</td>
            </tr>
            <tr>
                <td class="route-item-label">Телефон</td>
                <td>{{routeInfo.phone}}</td>
            </tr>
            <tr>
                <td class="route-item-label" ng-show="routeInfo.canDelete">
                    <a href="#" style="text-decoration: none; color: lightcoral" ng-click="routeInfo.events.onRemove()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Удалить</a>
                </td>
                <td class="route-item-label">
                    <a href="#" style="text-decoration: none; color: lightcoral" ng-click="routeInfo.events.onApply()"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Оставить заявку</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>