<div>
    <div class="btn-group" ng-model="user.type" bs-radio-group style="margin-top: 6px; opacity: 0.8;">
        <label class="btn btn-default" title="Перейти в роль попутчика &#10;(Вы будуте видеть предложения водителей на карте, а &#10;созданные вами маршруты будут видны водителям)" style="width: 40px; height: 40px; padding: 6px 0px"><input type="radio" class="btn btn-default" value="0" /><img src="content/images/glyphicons-563-person-walking.png"></label>
        <label class="btn btn-default" title="Перейти в роль водителя &#10;(Вы будуте видеть предложения попутчиков на карте, а &#10;созданные вами маршруты будут видны попутчикам)" style="width: 40px; height: 40px; padding: 8px 0px"><input type="radio" class="btn btn-default" value="1" /><img src="content/images/glyphicons-6-car.png"></label>
    </div>
    <div style="background-color: #ffffff; background-color: rgba(255, 255, 255, 0.7); margin: 6px -40px" ng-show="authData.isAuth">
        <label style="font-size: 10pt">
            <input type="checkbox" ng-model="displayOptions.highlightMyRoutes"> Выделять мои маршруты
        </label>
    </div>
</div>