

<!--<div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default" ng-repeat="panel in panels">
        <div class="panel-heading" role="tab" style="background: #2c3e50;">
            <h4 class="panel-title">
                <a bs-collapse-toggle style="color: white">
                    Настройки
                </a>
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                <div style="background-color:#ffffff; background-color:rgba(255, 255, 255, 0.5)">
                    <label>
                        <input type="checkbox" ng-model="tooltip.checked"> Check me to enable my tooltip
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>-->