<!--<button title="Проложить маршрут" type="button" class="btn btn-primary" ng-click="addRoute()" ng-hide="!userData.isAuth" style="opacity: 0.7; height: 32px; width: 32px; padding: 4px 0px 0px 0px; margin: 5px">
    <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size: 14pt; color: #ffffff"></span>
</button>-->

<div class="btn-group" ng-model="user.type" bs-radio-group style="margin-top: 10px; opacity: 0.8;">
    <label class="btn btn-default" title="Перейти в роль попутчика &#10;(Вы будуте видеть предложения водителей на карте, а &#10;созданные вами маршруты будут видны водителям)" style="width: 40px; height: 40px; padding: 6px 0px"><input type="radio" class="btn btn-default" value="0"><img src="content/images/glyphicons-563-person-walking.png"></label>
    <label class="btn btn-default" title="Перейти в роль водителя &#10;(Вы будуте видеть предложения попутчиков на карте, а &#10;созданные вами маршруты будут видны попутчикам)" style="width: 40px; height: 40px; padding: 8px 0px"><input type="radio" class="btn btn-default" value="1"><img src="content/images/glyphicons-6-car.png"></label>
</div>