<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="HitcherApp">
<head>
    <title>The Hitcher</title>
    <!--Production-->
    <!--<link href="content/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link href="content/css/bootstrap-additions.min.css" rel="stylesheet" />-->
    <!--<link href="content/css/bootstrap-theme.min.css" rel="stylesheet" />-->
    <!--<link href="content/css/loading-bar.min.css" rel="stylesheet" />-->
    <!--<link href="content/css/angular-motion.min.css" rel="stylesheet" />-->
    <!--Development-->
    <link href="content/css/bootstrap.css" rel="stylesheet" />
    <link href="content/css/bootstrap-form.css" rel="stylesheet" />
    <link href="content/css/bootstrap-additions.css" rel="stylesheet" />
    <link href="content/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="content/css/bootstrap-theme-custom.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/angular-motion.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/animations.css" rel="stylesheet" />
    <link href="content/css/bootstrap-custom-alerts.css" rel="stylesheet" />
    <link href="content/css/hitcher.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <div ng-controller="indexController">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="btn btn-success navbar-toggle">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <span class="glyphicon glyphicon glyphicon-plane" aria-hidden="true" style="font-size: 20pt; margin-top: 17px; color: white"></span>
                    <a class="navbar-brand" href="#/home">Попутчик</a>
                </div>
                <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Button to trigger a default dropdown from an array ($scope.dropdown) [{text:'foo', href:'', click:''}, ...] -->
                        <li ng-hide="!mapVisible" ng-cloak><button type="button" class="btn btn-default" style="margin: 9px" ng-click="onSearchClick()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Поиск...</button></li>
                        <li ng-hide="!authData.isAuth" ng-cloak>
                            <a style="cursor: context-menu" data-animation="am-flip-x-linear" bs-dropdown="userMenu" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;{{authData.userName && authData.firstName}}
                            </a>
                        </li>
                        <li ng-hide="authData.isAuth"> <a href="#/login">Войти</a></li>
                        <li ng-hide="authData.isAuth"> <a href="#/signup">Регистрация</a></li>
                        <li> <a href="#/ngchat">Тестовый чат</a></li>
                        <li> <a href="#" ng-click="chatToggle()">Chat box</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Look to the http://angular-ui.github.io/bootstrap/ example in order to implement array of alerts-->
        <alert class="oaerror {{state.status}}" ng-hide="state.message === ''" type="{{state.status}}" ng-cloak close="closeAlert()">{{state.message}}</alert>
    </div>

    <div id="map_canvas" ng-controller="homeController" ng-show="mapVisible">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" control="map.control">
            <ui-gmap-markers models="markers" options="'options'" events="markerEvents" coords="'self'" icon="'icon'">
            </ui-gmap-markers>
            <!--<ui-gmap-map-control template="app/views/gmaps/gmaps-left-center-control.html" controller="indexController" position="left-center" index="-1"></ui-gmap-map-control>-->
            <ui-gmap-map-control template="app/views/gmaps/gmaps-top-center-control.html" controller="controlCtrl" position="top-center" index="-1"></ui-gmap-map-control>
            <ui-gmap-map-control template="app/views/modal/custom.map.top-right-control.html" controller="controlCtrl" position="top-right" index="-1"></ui-gmap-map-control>
            <ui-gmap-map-control template="app/views/modal/custom.map.bottom-center-control.html" controller="controlCtrl" position="bottom-center" index="-1"></ui-gmap-map-control>
        </ui-gmap-google-map>

        <chat-view options="chatOptions" messages="chatMessages" message="chatMessage"></chat-view>
    </div>

    <div ng-view></div>

    <!--<div class="container" ng-controller="searchController" ng-show="config.visible" ng-cloak style="margin: 20px auto">
        <div class="jumbotron">
            Search results will be displayed here...
        </div>
    </div>-->
    <!--<hr />
    <footer class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Project Idea: Vladyslav Tretyakov.</p>
                <p>Developed by: Konstantin Lazurenko. VK: <a target="_blank" href="http://vk.com/justkostyan">justkostyan</a></p>
                <p>Mail: <a target="_blank" href="mailto:kos_sml@mail.ru">kos_sml@mail.ru</a></p>
                <p>Skype: just_kostyan, vlad-usa</p>
            </div>
            <div class="col-md-6">
                <h5 style="float: right">2015 KL</h5>
            </div>
        </div>
    </footer>-->

</body>
</html>

<!--LIBRARIES-->
<!--Production-->
<!--<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript" src="scripts/angular-route.min.js"></script>
<script type="text/javascript" src="scripts/angular-resource.min.js"></script>
<script type="text/javascript" src="scripts/angular-local-storage.min.js"></script>
<script type="text/javascript" src="scripts/angular-sanitize.min.js"></script>
<script type="text/javascript" src="scripts/angular-animate.min.js"></script>
<script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>

<script type="text/javascript" src="scripts/angular-strap.min.js"></script>
<script type="text/javascript" src="scripts/angular-strap.tpl.min.js"></script>

    <script type="text/javascript" src="scripts/lodash.min.js"></script>
<script type="text/javascript" src="scripts/angular-google-maps.min.js"></script>

<script type="text/javascript" src="scripts/ng-flow-standalone.min.js"></script>

<script type="text/javascript" src="scripts/jquery.min.js"></script>

<script type="text/javascript" src="scripts/ng-infinite-scroll.min.js"></script>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="scripts/loading-bar.min.js"></script>-->
<!--Development-->
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/jquery.signalR-2.2.0.js"></script>
<!--<script type="text/javascript" src="scripts/bootstrap.js"></script>-->

<script type="text/javascript" src="scripts/angular.js"></script>
<script type="text/javascript" src="scripts/angular-route.js"></script>
<script type="text/javascript" src="scripts/angular-resource.js"></script>
<script type="text/javascript" src="scripts/angular-local-storage.js"></script>
<script type="text/javascript" src="scripts/angular-sanitize.js"></script>
<script type="text/javascript" src="scripts/angular-animate.js"></script>
<script type="text/javascript" src="scripts/angular-signalr-hub.js"></script>
<script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.12.0.js"></script>

<script type="text/javascript" src="scripts/angular-strap.js"></script>
<script type="text/javascript" src="scripts/angular-strap.tpl.js"></script>
<script type="text/javascript" src="scripts/data-parser.js"></script>

<script type="text/javascript" src="scripts/lodash.js"></script>
<script type="text/javascript" src="scripts/angular-google-maps.js"></script>

<script type="text/javascript" src="scripts/ng-flow-standalone.js"></script>

<script type="text/javascript" src="scripts/gMapsContextMenu.js"></script>

<script type="text/javascript" src="scripts/loading-bar.js"></script>

<script type="text/javascript" src="scripts/ng-infinite-scroll.js"></script>

<script type="text/javascript" src="signalr/hubs"></script>

<!--APPLICATION-->
<!--Utils-->
<script type="text/javascript" src="app/utils/system/system-ns.js"></script>
<script type="text/javascript" src="app/utils/system/system-format.js"></script>
<script type="text/javascript" src="app/utils/system/system-json.js"></script>
<script type="text/javascript" src="app/utils/system/system-string.js"></script>
<script type="text/javascript" src="app/utils/system/system-time.js"></script>
<script type="text/javascript" src="app/utils/system/system-guid.js"></script>

<!--Namespace-->
<script type="text/javascript" src="app/models/hitcher-ns.js"></script>

<!--Models-->
<script type="text/javascript" src="app/models/routeViewModel.js"></script>

<!--Main app script-->
<script type="text/javascript" src="app/app.js"></script>

<!--Constants-->
<script type="text/javascript" src="app/const/appConst.js"></script>
<script type="text/javascript" src="app/const/msgConst.js"></script>

<!--Configuration-->
<script type="text/javascript" src="app/config.js"></script>

<!--Services-->
<script type="text/javascript" src="app/services/interceptors/authInterceptorService.js"></script>
<script type="text/javascript" src="app/services/errorService.js"></script>
<script type="text/javascript" src="app/services/statusService.js"></script>
<script type="text/javascript" src="app/services/authService.js"></script>
<script type="text/javascript" src="app/services/userService.js"></script>
<script type="text/javascript" src="app/services/mapService.js"></script>
<script type="text/javascript" src="app/services/routeService.js"></script>
<script type="text/javascript" src="app/services/chatService.js"></script>
<!--Filters-->
<!--Directives-->
<script type="text/javascript" src="app/directives/routeDirective.js"></script>
<script type="text/javascript" src="app/directives/routeListDirective.js"></script>
<script type="text/javascript" src="app/directives/numberOnlyInputDirective.js"></script>
<script type="text/javascript" src="app/directives/formatPhone.js"></script>
<script type="text/javascript" src="app/directives/chatDirective.js"></script>
<!--Controllers-->
<script type="text/javascript" src="app/controllers/indexController.js"></script>
<script type="text/javascript" src="app/controllers/homeController.js"></script>
<script type="text/javascript" src="app/controllers/loginController.js"></script>
<script type="text/javascript" src="app/controllers/signupController.js"></script>
<script type="text/javascript" src="app/controllers/accountController.js"></script>
<script type="text/javascript" src="app/controllers/controlCtrl.js"></script>
<script type="text/javascript" src="app/controllers/testChatController.js"></script>
