<div class="aside left am-fade-and-slide-left" tabindex="-1" role="dialog" style="display: block; background-color: #ecf0f1;" >
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" style="height: 62px; background-color: #149c82">
                <button type="button" class="close" ng-click="$parent.hideDriveAside()" style="margin-top: 6px">×</button><h4 class="aside-title" style="margin-top: 12px">Маршрут</h4>
            </div>

            <div class="aside-body">
                <label><i class="fa fa-home" style="margin-right: 2px;"></i> Откуда </label>
                <input type="text" class="form-control input-sm" ng-model="route.startName" data-animation="am-flip-x" bs-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" placeholder="Введите адрес" bs-typeahead>
                <br/>
                <label><i class="fa fa-home" style="margin-right: 2px;"></i> Куда </label>
                <input type="text" class="form-control input-sm" ng-model="route.endName" data-animation="am-flip-x" bs-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" placeholder="Введите адрес" bs-typeahead>
                <br />
                <span class="glyphicon glyphicon-user"></span><b style="margin-left: 4px;">Пользователь</b>
                <input type="text" class="form-control input-sm" ng-model="route.name" placeholder="Введите имя">
                <br/>
                <span class="glyphicon glyphicon-phone"></span><b style="margin-left: 4px;">Контакт</b>
                <input type="text" class="form-control input-sm" ng-model="route.phone" placeholder="Введите телефон">
                <br />
                <p style="margin-left: 3px"><span class="glyphicon glyphicon-road"></span><b style="margin-left: 8px;  margin-right: 25px">Расстояние: </b>{{route.totalDistance}}</p>
                <p style="margin-left: 3px"><span class="glyphicon glyphicon-time"></span><b style="margin-left: 8px;  margin-right: 14px">Время в пути: </b>{{route.totalDuration}}</p>
            </div>

            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$parent.hideDriveAside()">Отмена</button>
                <button type="button" class="btn btn-primary" ng-disabled="!route.startName || !route.endName || !route.startLatLng || !route.endLatLng" ng-click="$parent.declareRoute()">Сохранить</button>
            </div>
        </div>
    </div>
</div>