<div class="container">
    <div class="panel-group" ng-model="activePanel" bs-collapse>

        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <div class="form-group"
                     flow-init
                     flow-file-added="onFileAdded($file, $event)"
                     flow-files-added="onFilesAdded($files, $event)"
                     flow-files-submitted="$flow.upload()"
                     flow-file-success="onUploadSuccess($file, $message)"
                     flow-file-progress="onUploadProgress($file)">

                    <div class="form-group" style="margin: 10px auto 10px auto">
                        <img width="{{photoWidth}}" src="{{formData.photoPath}}" />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" flow-btn>Update Photo</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-danger" data-animation="am-fade-and-scale" data-template="app/views/modal/yes-no-dialog.html" bs-modal="deleteUserModal">Delete User</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="margin-top: 5px" bs-tabs>
                    <div title="Personal" bs-pane>
                        <form class="form-signin" name="accountForm">
                            <h2 class="form-signin-heading">{{formData.userName}}</h2>

                            <div class="form-group">
                                <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="formData.firstName">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="formData.lastName">
                            </div>
                            
                            <div class="form-group"> <!--ng-class="{'has-error': accountForm.phone.$invalid} ng-minlength="10" ng-maxlength="10" "-->
                                <!--<input type="tel" class="form-control" name="phone" placeholder="Phone" ng-model="formData.phoneNumber">-->
                                <input type="text" maxlength="12" class="form-control" id="phonenumber" ng-model="formData.phoneNumber" placeholder="(xxx)-(xxx)-(xxxx)" format-phone>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="sex" placeholder="Gender" ng-model="formData.sex">
                            </div>
                            <div class="form-group" ng-class="{'has-error': accountForm.birthDate.$invalid}">
                                <label class="control-label"><i class="fa fa-calendar"></i> Birth Date</label>
                                <input type="text" class="form-control" ng-model="formData.birthDate" data-date-format="yyyy-MM-dd" data-max-date="{{maxDate}}" name="birthDate" data-autoclose="1" bs-datepicker>
                            </div>


                            <div class="form-group">
                                <input type="text" class="form-control" name="country" placeholder="Country" ng-model="formData.country">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="city" placeholder="City" ng-model="formData.city">
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="accountForm.birthDate.$invalid" ng-click="update()">Update</button>
                        </form>
                    </div>
                    <div title="Security" disabled="{{formData.isExternal}}" bs-pane>
                        <form class="form-signin" name="form" ng-hide="success">
                            <h2 class="form-signin-heading">Change Password</h2>
                            <div class="form-group" ng-class="{ 'has-error': form.oldPassword.$invalid && (form.oldPassword.$dirty || submitted) }">
                                <input type="password" class="form-control" name="oldPassword" placeholder="Old Password" ng-model="securityFormData.oldPassword" required>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && (form.password.$dirty || submitted) }">
                                <input type="password" class="form-control" name="password" placeholder="New Password" ng-model="securityFormData.password" required>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$invalid && (form.confirmPassword.$dirty || submitted) }">
                                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" ng-model="securityFormData.confirmPassword" required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="changePassword()">Change</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    </div>
</div>