Hello world!

<hr />
<footer class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Project Idea: Vladyslav Tretyakov.</p>
            <p>Developed by: Konstantin Lazurenko. VK: <a target="_blank" href="http://vk.com/justkostyan">justkostyan</a></p>
            <p>Mail: <a target="_blank" href="mailto:kos_sml@mail.ru">kos_sml@mail.ru</a></p>
            <p>Skype: just_kostyan, vlad-usa</p>
        </div>
        <div class="col-md-6">
            <h5 style="float: right">2015 KL</h5>
        </div>
    </div>
</footer>
