<!--<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                      geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
</ui-gmap-google-map>-->

<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" control="map.control">
    <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
    </ui-gmap-markers>
    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                      geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
</ui-gmap-google-map>

<button type="button" class="btn btn-lg btn-danger" data-template="app/views/modal/aside.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body" style="margin-top: 5px">
    Подвезу!
</button>