<div class="container container-form">
    <form name="form">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <h2 class="form-signin-heading">Login</h2>

                <div class="form-group" ng-class="{ 'has-error': form.userName.$invalid && (form.userName.$dirty || submitted) }">
                    <input type="text" class="form-control" name="userName" placeholder="Username or Email" ng-model="formData.userName" required autofocus>
                </div>

                <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && (form.password.$dirty || submitted) }">
                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="formData.password" required>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-link" data-animation="am-fade-and-scale" data-template="app/views/modal/recover-pwd-dialog.html" bs-modal="forgotPasswordModal">Forgot your password?</button>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Login</button>
            </div>
            <div class="col-md-4">
                <h2 class="form-login-heading">Social Logins</h2>
                <p>Or you can login using one of the social logins bleow</p>
                <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="externalLogin('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
                <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="externalLogin('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
                <button class="btn btn-large btn-vk btn-block" type="button" data-ng-click="externalLogin('Vkontakte')"><i class="fa fa-vk"></i> | Connect with VKontakte</button>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    </form>
</div>